.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.itemsReferenced {
  margin: 1rem 0;
}

.itemsReferenced ul {
  padding-left: 1.2rem;
}

.relatedGroup {
  margin-top: 1rem;
}
